/* =========================================================================================== */
/* Swiper trượt brand logo*/
.swiperJsBrand {
    width: 100%;
    height: 100%;
}

    .swiperJsBrand .swiper-slide {
        display: flex;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        width: 160px;
        margin-right: 30px;
    }

        .swiperJsBrand .swiper-slide img {
            width: 126.66px;
            height: 84.44px;
        }


/* =========================================================================================== */