@inherits LayoutComponentBase

<div hidden></div>
<div class="isolate">
    <div class="max-w-screen overflow-x-hidden">
        <!-- Vehicle List Page (Tailwind) -->
        <div class="min-h-screen bg-slate-50 pt-16">

            <!-- Main Content -->
            <main class="mt-2 ml-2 flex-1 overflow-y-auto">
                @Body
            </main>
        </div>
    </div>
</div>