@page "/dashboard"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>
<AuthorizeView Context="authContext">
    <Authorized>

        <h1>Hello, world!</h1>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>